<!DOCTYPE HTML>
<html>
	<head>
		<title>{{article.text}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets1/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets1/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		
			<div id="wrapper" class="divided">

					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>{{article.title}}</h1>
							<p class="major">{{article.text}}</p>
							<ul class="actions stacked">
								<li><a href="/" class="button big wide smooth-scroll-middle">Повернутись</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="/static/images/banner2.jpg" alt="" />
						</div>
					</section>


			</div>

			<script src="/static/assets1/js/jquery.min.js"></script>
			<script src="/static/assets1/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets1/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets1/js/browser.min.js"></script>
			<script src="/static/assets1/js/breakpoints.min.js"></script>
			<script src="/static/assets1/js/util.js"></script>
			<script src="/static/assets1/js/main.js"></script>

	</body>
</html>